*{
    font-family: 'signika';
}
body{
    width: 100%;
}
.navbar{
    background-color: #C7A07A;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
}

.nav-link{
    margin: 0 10px;
    position: relative;
    text-decoration: none;
    padding-bottom: 8px; 
}
.nav-link:hover{
    transition: 0.3s;
}
.nav-link::after, .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ffff;
    transition: width 0.3s ease-in-out;
}
.nav-link:hover::after, .nav-link.active::after  {
    width: 100%;
}

.navbar img{
    width: 100px;
    height: 50px;
}
.banner {
    display: flex;
    padding: 40px 0;
}
.banner-text {
    text-align: left;
    color: #5a3e2b; 
}
.container-products {
    background-color: #f8f4f1;
    display: block;
    justify-content: space-around;
    text-align: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding: 30px 0;
    gap: 20px;
}
.products img{
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.products img:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3)
}
.container-products h1{
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: bold;
 
}
.button2{
    background-color: #f3b176;
    color: black;
    padding: 12px 24px;
    font-size: 1.2rem;
    border: none;
    margin-right: auto;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: start;
    transition: all 0.3s ease 0s;
}
.button2:hover {
    background-color: #693b23;
    color: #ffff;
    transform: translateY(-7px);
}

.container-products nav{
    text-align: center;
    font-size: 5rem;
}

.container-history{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container-history img{
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
    object-fit: cover;
    height: auto;
    display: block;
}
.container-history p::first-letter{
    font-size: 2.5rem;
    font-weight: 700;
}

.history-text{
    text-align: justify;
}

.history-text h1{
    text-align: center;
    color: black;
}

.tittle-cards{
    text-align: center;
    display: block;
    margin-top:20px
}

.container-info{
    border-top: 1px solid black;
    background-color: #f8f4f1;
    margin-top: 20px;
}

.container{
    justify-content: space-around;
    margin-bottom: 20px;
}
.card{
    background-color: #FFFCE0;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
    text-align: center;
    width: 15rem;
    height: auto;
}

.card:hover{
    transition: all 0.2s ease-out;
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.75);
    border: 1px solid #cccccc;
}

.card-body{
    text-align: justify;
}
.card h1{
    font-size: 1.5rem;
    color: #5a3e2b;
    margin-top: 20px;
}

.card img{
    margin-left: 10px;
    margin-top: 10px;
}

.social{
    justify-content: space-around;
}
.copy{
    text-align: center;
}

.footer{
    border-top: 1px solid #000;
}
.social-links{
    list-style: none;
    margin: 20px;
}
.social-links li{
    font-size: 1.3rem;
}
.social-links li:hover {
    color: #5a3e2b;
}
.social-links a:hover{
    color: #5a3e2b;
}
.social-links a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.card-history{
    max-width: 300px;

}

@media screen and (max-width: 768px) {   
    .history-text{
       margin-top: 30px;
    }
    .card{
        width: 10rem;
        height: auto;
    }
    
    .social-links li{
        font-size: 1rem;
    }
    .copy h5{
        font-size: 0.8rem;
    }
}