
.main-image {
    max-height: 400px;
    object-fit: cover;
  }
  
.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.thumbnail:hover, .thumbnail.active {
    opacity: 1;
}
.product-detail h2{
    text-align: start;
}

.product-list {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: start;
    font-size: 1.2rem;
}

.product-list li {
    list-style: none;
}

.container img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.container img:hover{
    transform: scale(1.1);
}

.container img:hover + .container img{
    transform: scale(1);
}

.tittle-products{
    color: #5f412e;
}

.container h1{
    color: #5f412e;
    background-color: #ecdfcd;
    padding: 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container-frappe{
    margin-left: auto;
    margin-right: auto;
}

.list h2{
    text-align: start;
    margin: 20px;
    font-weight: bold;
}
.whatsapp-button i{
    margin-left: 5px;
    color: #fff;
}
.whatsapp-button{
    background-color: #315e26;
    margin: 10px;
    border: none;
    padding: 12px 24px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.whatsapp-button:hover{
    background-color: #315a39;
    transform: scale(1.1);
    transform-origin: center;
    transform: translateY(10px);        
};





